[user]
	name = Evan Moore
	email = etmoore@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = current
[diff]
	tool = vimdiff
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[checkout]
	defaultRemote = origin
